<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body >
    
    
    
    @RenderBody()
    
 
 @*   	<h4><br />
      </h4>
    	<h4>&nbsp;</h4>
  </div>
    <div class="col_12 float_r">
    	<h4>&nbsp;</h4>
        <div id="contact_form"></div>
	</div>
    
    <div class="cleaner">
      <h3>&nbsp;</h3>
    </div>
</div> <!-- END of main -->

<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
	
		<div class="col col_14">
        	<h5>&nbsp;</h5>
</div>
        <div class="col col_14">
        	<h5>&nbsp;</h5>
</div>
        <div class="col col_14">
        	<h5>&nbsp;</h5>
</div>
        
        <div class="col col_14 no_margin_right">
        	<h5>&nbsp;</h5>
        </div>
        
    <div class="cleaner"></div>
    </div>
</div> <!-- END of footer -->
    *@

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
